* { box-sizing: border-box }
body {
	background-image: url("../image/background.jpg"); background-size: cover;
	width: 100%; height: 100%; 
	margin: 0; padding: 0;
}
:root {
	--falu-red: #791C20ff;
	--tangerine: #F58B20ff;
	--rusty-red: #D9444Dff;
	--burgundy: #74191Fff;
	--ash-gray: #C7CDC3ff;
}

div#root {
	display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-between;
	width: 100vw; height: 100vh;
	padding: 20px;
}

/* --------------- common spaces -------------- */
div#common {
	width: 100%; max-height: 30%;
	display: flex; justify-content: start; align-items: center; flex-flow: column nowrap;
} div#common > div {
	width: 900px; max-width: 100%; max-height: 100%;
	display: flex; justify-content: center; align-items: center; flex-flow: row nowrap;
} 
#deck { background-image:url("../image/back.png"); border-radius: 15px; transition: transform 0.5s; position: relative }
@keyframes draw {
	from { top: 0px	} 
	to { top: 50px }
}
div.card.draw { animation: draw .5s linear 0s 1 normal; animation-fill-mode: forwards; }
#discard div.card:not(:first-of-type) { display: none }
#deck div.card { position: absolute; left: 0; top: 0 }
/* ---------- Other Players ----------------- */
div#others {
	position: fixed; top: 0px;
	height: 100vh; width: 20vw;
	padding: 10px;
	display: flex; flex-flow: column nowrap; justify-content: start;
} 
div#others > div {
	margin: 5px; padding: 10px;
	border-radius: 10px;
}
div#others > div > div {
	width: 900px; max-width: 100%;
}
div.playerIcon { width: 50px; height: 50px; margin: auto; background-size: cover }

/* ------------- Players hand ----------- */
div#myHand {
	width: 100%; max-height: 70%;
	display: flex; justify-content: center; align-items: center;
} div#myHand > div {
	width: 900px; max-width: 100%; height: 100%; 
}
div.row {
	display: flex; justify-content: center; align-items: center; flex-flow: row nowrap;
	width: 100%;
} div#myHand div.row { height: 50% }
div.slot {
	margin: 5px;
	border: none;
	aspect-ratio: 5/7; width: 150px; max-height: 100%;
	background-size: cover;	background-color: transparent;
	display: flex; justify-content: center; align-items: center;
} 
@keyframes moveCard {
	0% {
		left: var(--x1,0); top: var(--y1,0);
		width: var(--w1,150px); height: var(--h1,210px);
	}
	100% {
		left: var(--x2,0); top: var(--y2,0);
		width: var(--w2,150px); height: var(--h2,210px);
	}
}
div.card.move { 
	position: fixed; z-index: 99;
	animation: moveCard 1s ease 0s 1 normal; animation-fill-mode: forwards;
	pointer-events: none;
}
div.card {
	position: relative;
	padding: 5px;
	border-radius: 15px;
	width: 100%; height: 100%;
	display: flex; justify-content: center; align-items: center;
	background-color: var(--ash-gray); 
	transition: transform 0.5s;
} div.card.flipped { padding: 0 }
#deck:hover, div#common div.card:hover, div#myHand div.card:hover {
	transform: translate(0,-10px) rotate(2deg);
}
div.card > h1 {
	position: absolute; top: 0; left: 5px;
	margin: 0; padding: 0;
	font-size: 3em; color: var(--falu-red);
	-webkit-text-stroke: 1px var(--ash-gray);
} 
div.card > h2 {
	position: absolute; top: 5px;
	margin: 0; padding: 0;
	font-size: 1em; color: var(--falu-red);
}
div.card.flipped > h1, div.card.flipped > h2 { display: none !important }
div.card > div.img {
	width: 100%; height: 100%;
	background-size: cover;	background-position: center center; background-repeat: no-repeat;
	border-radius: 15px;
}
div.card.flipped > div.img { background-image:url("../image/back.png") !important }
div.card[data-value="0"][data-special="false"] > div.img { background-image:url("../image/0.png") }
div.card[data-value="1"][data-special="false"] > div.img { background-image:url("../image/1.png") }
div.card[data-value="2"][data-special="false"] > div.img { background-image:url("../image/2.png") }
div.card[data-value="3"][data-special="false"] > div.img { background-image:url("../image/3.png") }
div.card[data-value="4"][data-special="false"] > div.img { background-image:url("../image/4.png") }
div.card[data-value="5"][data-special="false"] > div.img { background-image:url("../image/5.png") }
div.card[data-value="6"][data-special="false"] > div.img { background-image:url("../image/6.png") }
div.card[data-special*="Assassin"] > div.img { background-image:url("../image/assassin.png") }
div.card[data-special*="Extra Skill"] > div.img { background-image:url("../image/extra.png") }
div.card[data-special*="Protection"] > div.img { background-image:url("../image/protect.png") }
div.card[data-special*="Reinforcements"] > div.img { background-image:url("../image/add.png") }
